# VirtuSIM
VIRTUSIM_API_KEY=
PRICE_MARKUP=500

# Yamzz Payment Gateway deployment
PAYMENT_API_BASE=https://your-payment-gateway.vercel.app
PAYMENT_API_KEY=
PAYMENT_WEBHOOK_SECRET=

# App database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
SESSION_SECRET=
